.maroon					{ background: #800000; }
.dark-red				{ background: #8B0000; }
.brown					{ background: #330000; }
.firebrick				{ background: #B22222; }
.crimson				{ background: #DC143C; }
.red					{ background: #FF0000; }
.tomato					{ background: #FF6347; }
.coral					{ background: #FF7F50; }
.indian-red				{ background: #CD5C5C; }
.light-coral			{ background: #F08080; }
.dark-salmon			{ background: #E9967A; }
.salmon					{ background: #FA8072; }
.light-salmon			{ background: #FFA07A; }
.orange-red				{ background: #FF4500; }
.dark-orange			{ background: #FF8C00; }
.orange					{ background: #FFA500; }
.gold					{ background: #FFD700; }
.dark-golden-rod		{ background: #B8860B; }
.golden-rod				{ background: #DAA520; }
.pale-golden-rod		{ background: #EEE8AA; }
.dark-khaki				{ background: #BDB76B; }
.khaki					{ background: #F0E68C; }
.olive					{ background: #808000; }
.yellow					{ background: #FFFF00; }
.yellow-green			{ background: #9ACD32; }
.dark-olive-green		{ background: #556B2F; }
.olive-drab				{ background: #6B8E23; }
.lawn-green				{ background: #7CFC00; }
.chart-reuse			{ background: #7FFF00; }
.green-yellow			{ background: #ADFF2F; }
.dark-green				{ background: #006400; }
.green					{ background: #008000; }
.forest-green			{ background: #228B22; }
.lime					{ background: #00FF00; }
.lime-green				{ background: #32CD32; }
.light-green			{ background: #90EE90; }
.pale-green				{ background: #98FB98; }
.dark-sea-green			{ background: #8FBC8F; }
.medium-spring-green	{ background: #00FA9A; }
.spring-green			{ background: #00FF7F; }
.sea-green				{ background: #2E8B57; }
.medium-aqua-marine		{ background: #66CDAA; }
.medium-sea-green		{ background: #3CB371; }
.light-sea-green		{ background: #20B2AA; }
.dark-slate-gray		{ background: #2F4F4F; }
.teal					{ background: #008080; }
.dark-cyan				{ background: #008B8B; }
.aqua					{ background: #00FFFF; }
.cyan					{ background: #00FFFF; }
.light-cyan				{ background: #E0FFFF; }
.dark-turquoise			{ background: #00CED1; }
.turquoise				{ background: #40E0D0; }
.medium-turquoise		{ background: #48D1CC; }
.pale-turquoise			{ background: #AFEEEE; }
.aqua-marine			{ background: #7FFFD4; }
.powder-blue			{ background: #B0E0E6; }
.cadet-blue				{ background: #5F9EA0; }
.steel-blue				{ background: #4682B4; }
.corn-flower-blue		{ background: #6495ED; }
.deep-sky-blue			{ background: #00BFFF; }
.dodger-blue			{ background: #1E90FF; }
.light-blue				{ background: #ADD8E6; }
.sky-blue				{ background: #87CEEB; }
.light-sky-blue			{ background: #87CEFA; }
.midnight-blue			{ background: #191970; }
.navy					{ background: #000080; }
.dark-blue				{ background: #00008B; }
.medium-blue			{ background: #0000CD; }
.blue					{ background: #0000FF; }
.royal-blue				{ background: #4169E1; }
.blue-violet			{ background: #8A2BE2; }
.indigo					{ background: #4B0082; }
.dark-slate-blue		{ background: #483D8B; }
.slate-blue				{ background: #6A5ACD; }
.medium-slate-blue		{ background: #7B68EE; }
.medium-purple			{ background: #9370DB; }
.dark-magenta			{ background: #8B008B; }
.dark-violet			{ background: #9400D3; }
.dark-orchid			{ background: #9932CC; }
.medium-orchid			{ background: #BA55D3; }
.purple					{ background: #800080; }
.thistle				{ background: #D8BFD8; }
.plum					{ background: #DDA0DD; }
.violet					{ background: #EE82EE; }
.magenta				{ background: #FF00FF; }
.orchid					{ background: #DA70D6; }
.medium-violet-red		{ background: #C71585; }
.pale-violet-red		{ background: #DB7093; }
.deep-pink				{ background: #FF1493; }
.hot-pink				{ background: #FF69B4; }
.light-pink				{ background: #FFB6C1; }
.pink					{ background: #FFC0CB; }
.antique-white			{ background: #FAEBD7; }
.beige					{ background: #F5F5DC; }
.bisque					{ background: #FFE4C4; }
.blanched-almond		{ background: #FFEBCD; }
.wheat					{ background: #F5DEB3; }
.corn-silk				{ background: #FFF8DC; }
.lemon-chiffon			{ background: #FFFACD; }
.light-golden-yellow	{ background: #FAFAD2; }
.light-yellow			{ background: #FFFFE0; }
.saddle-brown			{ background: #8B4513; }
.sienna					{ background: #A0522D; }
.chocolate				{ background: #D2691E; }
.peru					{ background: #CD853F; }
.sandy-brown			{ background: #F4A460; }
.burly-wood				{ background: #DEB887; }
.tan					{ background: #D2B48C; }
.rosy-brown				{ background: #BC8F8F; }
.moccasin				{ background: #FFE4B5; }
.navajo-white			{ background: #FFDEAD; }
.peach-puff				{ background: #FFDAB9; }
.misty-rose				{ background: #FFE4E1; }
.lavender-blush			{ background: #FFF0F5; }
.linen					{ background: #FAF0E6; }
.old-lace				{ background: #FDF5E6; }
.papaya-whip			{ background: #FFEFD5; }
.sea-shell				{ background: #FFF5EE; }
.mint-cream				{ background: #F5FFFA; }
.slate-gray				{ background: #708090; }
.light-slate-gray		{ background: #778899; }
.light-steel-blue		{ background: #B0C4DE; }
.lavender				{ background: #E6E6FA; }
.floral-white			{ background: #FFFAF0; }
.alice-blue				{ background: #F0F8FF; }
.ghost-white			{ background: #F8F8FF; }
.honeydew				{ background: #F0FFF0; }
.ivory					{ background: #FFFFF0; }
.azure					{ background: #F0FFFF; }
.snow					{ background: #FFFAFA; }
.black					{ background: #000000; }
.dim-gray				{ background: #696969; }
.gray					{ background: #808080; }
.dark-gray				{ background: #A9A9A9; }
.silver					{ background: #C0C0C0; }
.light-gray				{ background: #D3D3D3; }
.gainsboro				{ background: #DCDCDC; }
.white-smoke			{ background: #F5F5F5; }
.white					{ background: #FFFFFF; }