
body {
		padding-top: 15px;
		background: white;
}

h1 {
	font-size: 40px;
	text-align: center;
}
	
.pixel-grid {
	border: 1px solid black;
	display: block;
	height: 20px;
	width: 20px;
	float: left;
}

/* pixel frame */	
#frame {
	margin: 0 auto;
	width: 600px;
	height: 200px;
	float: left;
    margin-left: 40px;
    margin-top: -30px;

}

/* color bar */
#line {
	margin: 0 auto;
	width: 20px;
	height: 200px;
	float: left;
	margin-left: 50px;
	padding-bottom: 20px;
}

/* keyboard style */
.keyboard {
	padding-top: 250px;
}

.textinput{
    float: left;
    margin-top: -30px;
    margin-left: 15px;
    width: 690px;
    height: 110px;
}

/* keyboard-frame */
.rcorners {
	/*
	border-radius: 15px;
	border: 2px solid grey;
	padding: 20px; 
	width: 820px;
	height: 480px; 
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #D3D3D3;
	*/
	border-radius: 15px;
    border: 2px solid grey;
    padding: 20px;
    width: 700px;
    /* height: 480px; */
    padding-bottom: 70px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    background-color: #D3D3D3;
    /* float: left; */
    float: right;
    margin-top: -160px;
    margin-right: 20px;
}

/* esc-btn */
/*.rcorners1 {
	border-radius: 10px;
	border: 1px solid grey;
	margin: 10px;
	padding: 3px;
	width: 65px;
	height: 15px;
	text-align: center;
	font-size: 18px;
	min-height: none;
	display: table-cell;
	vertical-align: middle;
	background-color: #A9A9A9;
	color: black;
}*/

/* numbers */
.rcorners2 {
	border-radius: 10px;
	border: 1px solid grey;
	margin: 10px;
	margin-left: 40px;
	padding: 3px 0;
	width: 60px;
	height: 55px;
	text-align: center;
	font-size: 18px;
	min-height: none;
	display: table-cell;
	vertical-align: middle;
	background-color: #A9A9A9;
	color: black;
}

/* backspace */
/*.backspace {
	border-radius: 10px;
	border: 1px solid grey;
	padding: 3px 0;
	width: 90px;
	height: 55px;
	text-align: center;
	font-size: 18px;
	float: right;
	min-height: none;
	display: table-cell;
	vertical-align: middle;
	background-color: #A9A9A9;
	color: black;
}*/

/* lettes A to Ö */
.rcorners3 {
	border-radius: 10px;
	border: 1px solid grey;
	margin: auto;
	margin-left: 40px;
	padding: 3px 0;
	width: 60px;
	height: 50px;
	text-align: center;
	font-size: 18px;
	min-height: none;
	display: table-cell;
	vertical-align: middle;
	background-color: #A9A9A9;
	color: black;
}

/* space-key */
.rcorners4 {
	border-radius: 10px;
	border: 1px solid grey;
	margin: auto;
	margin-left: 130px;
	padding: 5px 0;
	width: 400px;
	height: 55px;
	text-align: center;
	font-size: 18px;
	min-height: none;
	display: table-cell;
	vertical-align: middle;
	background-color: #A9A9A9;
	color: black;
	position: absolute;
}




